
  

  {% if site.registration_link %}
  <div style="text-align: center;">
   <h2 ><a class="registration-button" href="{{ site.registration_link }}" style="text-decoration: none; padding: 20px; background-color: #F9943B; color: black; border: 3px solid black; border-radius: 8px;"><i class="icon fa fa-pencil-square" aria-hidden="true"></i> Click Here to Register </a></h2>
  </div>
  <br>
   {% endif %}

   <!--Team Trailers Playlist -->
  <h2>Team Trailers</h2>
  <p >Vote for your favorite team! -- 
    <a href="https://forms.gle/67Xjoie9oshrfnGc8" style="font-weight: bold; color: black; padding: 5px; margin: 5px; background-color: white;">
      <i class="fa-solid fa-clipboard-question" style="color: purple;"></i> Viewer's Choice Ballot</a>
    <br>
     Watch the Final Presentations live -- <a href="https://youtube.com/live/YdYYMEHg8kM?feature=share" style=" font-weight: bold; color: black; padding: 5px; margin: 5px; background-color: white;">
      <i class="fab fa-youtube"
      style="color: red;"></i> YouTube Live Stream</a></p>
<iframe width="560" height="315"
  src="https://www.youtube.com/embed/videoseries?si=nMXdAm4Drtjj2HZM&amp;list=PLk7G3_iq2ijR1331qCYx04MADFmqyaM-L"
  title="YouTube video player" frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen></iframe>
<br>
<br>
{% include teams_horz.html %}
<h2>Overview</h2>
<p>
<a href="https://sc23.supercomputing.org/" target="_blank"> SC23's</a> HPC in the City: Pandemics <a href="http://hackhpc.org/#info" target="_blank">hackathon</a> will focus on issues that related to the pandemic research community. The event 
provides pre-training to <a href="http://hackhpc.org/hackers/" target="_blank">students</a> in the use of both high-performance computing resources and data analysis to address selected issues with 
<a href="http://hackhpc.org/mentors/" target="_blank">mentors</a> and <a href="http://hackhpc.org/support/" target="_blank">staff/specialists</a> from the various associated fields. <a href="{{ site.registration_link }}" target="_blank">Registration</a> is currently open for all levels of college students, faculty, staff, and/or
employees of research and HPC related organizations/companies to participate. 
</p>

<p>
  <h4 class="about-prior">Prior Events:</h4>
  <ul class="about-prior">
    <li class="about-prior"> <a href="https://hackhpc.github.io/HPCintheCity22">SC22's HPC in the City: Dallas </a></li>
    <li class="about-prior"> <a href="https://hackhpc.github.io/HPCintheCity21">SC21's HPC in the City: St. Louis </a></li>
    <li class="about-prior"> <a href ="https://hackhpc.github.io/HPCintheCity20">SC20's HPC in the City: Atlanta </a></li>
  </ul>
</p>




<p>
<h4>When:</h4>
 November 3rd - 7th, 2023 
( Note: There will also be optional pre-event training sessions. )
 
<h4>Where:</h4> 
Virtual via Zoom
 
<h4>Who:</h4> 
Persons that have an interest in gaining high-performance computing and/or data analysis skills in an applied hands-on manner. That includes but is not limited to Students (Certificate seeking/Undergraduate/Graduate/Postgraduate), Faculty/Teachers, Staff, Researchers, and Subject Matter Experts. With coding/research/analysis skill levels ranging from Beginner ( I am in my first course and/or I have heard about it ) to Expert ( I do this professionally and/or publish research ) and everything in between.
<br> <br>
<u>This includes persons from:</u>
<ul>
    <li><strong>Colleges/Universities</strong> (Certificate Granting/2yr/4yr/Non-Doctoral Granting/Doctoral Granting)</li> 
    <li><strong>Public and Private Organizations</strong></li>
    <li><strong>Companies Small, Medium, and Large</strong></li>
    <li><strong>National Laboratories</strong></li>
    <li><strong>Local/Federal/National Agencies</strong></li>
    <li><strong>In short, YOU!!!</strong></li>
</ul>


{% include mentor-wordart.html %}

  <br>
  {% if site.registration_link %}
         <div style="text-align: center;">
          <h2 ><a href="{{ site.registration_link }}"  style="text-decoration: none; padding: 20px; background-color: #F9943B; color: black; border: 3px solid black; border-radius: 8px;"><i class="icon fa fa-pencil-square" aria-hidden="true"></i> Click Here to Register </a></h2>
         </div>
         <br>
          {% endif %}
       
<!--
{% include teams_horz.html %}
-->

<div style="text-align: center;">

  <h2>Supporters</h2>
    {% if site.data.sponsors %}
      <ul style="list-style-type: none;"> 
        {% for sponsor in site.data.sponsors.sponsors %}
        <li><a href="{{ sponsor.url }}" target="_blank" style="text-decoration: none;"> <strong> {{ sponsor.name }} </strong></a>
            {% if sponsor.grant %}
            <ul style="list-style-type: none;"> 
              {% for grant in sponsor.grant %} 
                <li style="color: darkgrey;"><a href="{{ grant.url }}" target="_blank"  style="text-decoration: none; color: darkgrey;"><em>
                  {% if grant.description %}
                  {{ grant.description }} 
                  {% else %}
                  Funded by: {{ grant.awardagency }}</em></a> 
                  {% endif %}
                </li> 
              {% endfor %}
            </ul>
              
            {% endif %}
        
        </li>
        
        {% endfor %}

      </ul>
    {% endif %}

</div>




